{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>about_us &amp; CSS-1</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{% static '/about_us/style.css' %}">

</head>

<body>
  <!-- partial:index.partial.html -->
  <!-- <link rel="stylesheet" href="{% static '/about_us/style.css' %}"> -->

  <ul class="c-accordion">
    <li id="cf" class="c-accordion__item"
      style="--cover: url(https://cdn.intra.42.fr/users/5169a076a15a632a96e36a40a30f6590/ealonso-.jpg)">
      <a href="#cf" class="c-accordion__action">
        <div class="c-accordion__content">
          <h2 class="c-accordion__title c-accordion__title--hero c-accordion__title--hover-show">ealonso-</h2>
          <p class="c-accordion__description">Click the appropriate job role below if ....</p>
        </div>
        <div class="c-accordion__aside">
          <h2 class="c-accordion__title c-accordion__title--hover-hide">ealonso-</h2>
        </div>
      </a>
    </li>
    <li id="corp" class="c-accordion__item"
      style="--cover: url(https://cdn.intra.42.fr/users/308a6157161e543a0ff8e0ce44cdbad9/vduchi.jpg)">
      <a href="#corp" class="c-accordion__action">
        <div class="c-accordion__content">
          <h2 class="c-accordion__title c-accordion__title--hero c-accordion__title--hover-show">vduchi</h2>
          <p class="c-accordion__description">
            Click on one of the departments below if ...
          </p>
        </div>
        <div class="c-accordion__aside">
          <h2 class="c-accordion__title c-accordion__title--hover-hide">vduchi</h2>
        </div>
      </a>
    </li>
    <li id="lead" class="c-accordion__item"
      style="--cover: url(https://cdn.intra.42.fr/users/c5f6cc63dc5a2a4f8c67087c4abbbbb6/nmota-bu.jpg)">
      <a href="#lead" class="c-accordion__action">
        <div class="c-accordion__content">
          <h2 class="c-accordion__title c-accordion__title--hero c-accordion__title--hover-show">nmota-bu</h2>
          <p class="c-accordion__description">
            Click the appropriate job role below if ....
          </p>
        </div>
        <div class="c-accordion__aside">
          <h2 class="c-accordion__title c-accordion__title--hover-hide">nmota-bu</h2>
        </div>
      </a>
    </li>
    <li id="warehouse" class="c-accordion__item"
      style="--cover: url(https://cdn.intra.42.fr/users/971095756db924502fca4f6e6e22b847/jsebasti.jpg)">
      <a href="#warehouse" class="c-accordion__action">
        <div class="c-accordion__content">
          <h2 class="c-accordion__title c-accordion__title--hero c-accordion__title--hover-show">jsebasti</h2>
          <p class="c-accordion__description">
            Click on one of the departments below if ....
          </p>
        </div>
        <div class="c-accordion__aside">
          <h2 class="c-accordion__title c-accordion__title--hover-hide">jsebasti</h2>
        </div>
      </a>
    </li>
  </ul>
  <!-- partial -->
  <script src="{% static '/about_us/script.js' %}"></script>

</body>

</html>